<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSnHE1dVt7Mz6BSp22Sm7ACR2a0b742Wk</string>
	<key>GCM_SENDER_ID</key>
	<string>315682832380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hydee.SOMEME</string>
	<key>PROJECT_ID</key>
	<string>appworkschool-hydee</string>
	<key>STORAGE_BUCKET</key>
	<string>appworkschool-hydee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315682832380:ios:b660bd7223a89635d7fc79</string>
</dict>
</plist>